body {
    background: orange;
}

.container {
    font-size: 30px;
    background: gray;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 50px 50px;
    grid-column-gap: 20%;
}

#boxA {
    background: blue;
}

#boxB {
    background: red;
}

.container2 {
    font-size: 30px;
    background: gray;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30%;
    grid-template-rows: 100px 100px;
    grid-column-gap: 10%;
    grid-row-gap: 15px;
}

#boxC {
    background: green;
}

#boxD {
    background: yellow;
}

#boxE {
    background: pink;
}

#boxF {
    background: turquoise;
}
